.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .contentWrapper {
    display: flex;
    margin-top: 70px;
  }

  .mainContent {
    margin-left: 80px; 
    padding: 20px;
    width: calc(100% - 80px);
    overflow-x: auto;
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    color: white;
  }

  .error {
    color: red;
  }
  
  .bodegasTable {
    width: 100%;
    max-width: 100%;
  }
  
  .bodegasTable th,
  .bodegasTable td {
    border: 1px solid #ccc;
    padding: 0.75rem;
    text-align: left;
  }
  
  .bodegasTable th {
    background-color: #05874b;
    font-weight: bold;
  }
  
  .bodegasTable tbody tr:hover {
    background-color: rgb(34, 31, 31);
    color: white
  }

  .filtroContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  .inputFiltro {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 250px;
  }
  
  .botonBuscar {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .botonBuscar:hover {
    background-color: #cca300;
  }

  .selectorResultados {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
  }
  
  .selectorResultados select {
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #ffcc00;
    color: black;
  }
  
  .paginacion {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .paginacion button {
    background-color: #ffcc00;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .paginacion button:disabled {
    background-color: #4d3900;
    cursor: not-allowed;
  }

  .topActions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .actionsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 20px;
  }
  
  .actionsContainer > div {
    flex: 1;
  }

  .botonCrear {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  .botonCrear:hover {
    background-color: #cca300;
  }

.actionButtons {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .actionBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 4px;
    transition: color 0.2s;
  }
  
  .actionBtn:hover {
    color: #046a3a;
  }

  .actionStateBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 4px;
    transition: transform 1s ease-in-out, color 0.2s ease;
    animation: colorRotation 2s infinite, spin 2s infinite;
    animation-play-state: paused;
    transform: rotate(0deg);
  }

  @keyframes colorRotation {
    0% {
      color: white;
    }
    50% {
      color: #e63946;
    }
    100% {
      color: #1d9acc;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .actionStateBtn:hover {
    animation-play-state: running;
  }

  .actionStateBtn:not(:hover) {
    animation-play-state: paused;
    color: white;
    transform: rotate(0deg);
  }

  .actiondetailseBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 4px;
    transition: color 0.2s;
  }
  
  .actionDetailsBtn:hover {
    color: #1d9acc;
  }

  .actionEditBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 4px;
    transition: color 0.2s;
  }
  
  .actionEditBtn:hover {
    color: #cca300;
  }
